@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.board {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    font-family: 'Kanit', sans-serif;
}
.tiles, .close, .correct, .wrong{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    
}
.line {
    display: flex;
    gap: 10px;
}
.close {
    background: rgb(201, 180, 88);
    color: white;
}
.correct {
    background: rgb(106, 170, 100);
    color: white;
}
.wrong {
    background: rgb(120, 124, 126);
    color: white;
}